/* survey form style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #133E87;
}
body {
    /* border: 2px solid greenyellow; */
    background-color: #CBDCEB;
    width: 100%;
    min-height: 100%;
}
nav  div {
    margin: 10px 0px 0px 0px;
    text-align: center;
}
nav div h1 {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
}
.text-selection {
    background-color: white;
    max-width: 50%;
    height: 550px;
    margin: 1rem auto;
    padding: 10px;
    text-align: center;
}
.text-selection div p:first-child {
    /* border: 2px solid salmon; */
    font-size: 20px;
    color: #3D5300;
    margin: 10px auto;
    width: 80%;
    text-indent: 30px;
}
.text-selection div p:nth-child(2) {
    font-size: 19px;
    color: #FA4032;
    margin: 8px;
}
.text-selection div p:last-child {
    color: #125B9A;
    font-size: 19px;
}
form {
    border: 2px solid gray;
    border-radius: 8px;
    max-width: 60%;
    display: grid;
    grid-template-columns: 140px 220px;
    gap: 14px;
    margin: 10px auto;
    padding: 10px;
}
form label {
    display: flex;
    text-align: start;
    height: 30px;
    align-items: center;
    
}
form input {
    height: 30px;
}
button {
    background-color: #4A628A;
    border-radius: 10px;
    border: 2px solid tomato;
    color: #fff;
    cursor: pointer;
    letter-spacing: 1.4px;
    /* line-height: 4px; */
    outline: none;
    margin: 0;
    overflow: visible;
    padding: 10px;
    text-transform: capitalize;
    font-size: 14px;
    text-align: center;
    touch-action: manipulation; 
}
.submit-btn {
    /* border: 2px solid green; */
    grid-column: 2;
    display: flex;
    align-items: end;
    justify-content: end;
}

/* for Chrome, Safari, Edge and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* for Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* mobile dimension for iphone se 375 x 667 */
@media (max-width: 480px) {
    * {
        margin: 0;
        padding: 0;
    }
    body {
        background-color: #8B5DFF;
        /* border: 2px solid green; */
        width: 95%;
        margin: 10px auto;
    }
    nav div img {
        /* border: 2px solid peru; */
        width: 56px;
    }
    nav div h1 {
        font-size: 20px;
    }
    .text-selection {
        /* border: 2px solid red; */
        max-width: 90%;
        height: 670px;
        border-radius: 10px;
        margin: 10px auto;
    }
    .text-selection div {
        /* border: 4px solid seagreen; */
        max-width: 95%;
        margin: 10px auto;
    }
    .text-selection div p:first-child {
        /* border: 2px solid blueviolet; */
        font-size: 14px;
        text-align: justify;
        text-indent: 10px;
        margin: 10px auto 5px;
        padding: 0px;
    }
    .text-selection div p:nth-child(2),
    .text-selection div p:last-child {
        /* border: 2px solid green; */
        font-size: 14px;
        margin: 5px;
    }
    form {
        /* border: none; */
        max-width: 90%;
        display: block;
    }
    form label {
        /* border: 2px solid greenyellow; */
        font-size: 14px;
    }
    form input {
        /* border: 2px solid yellow; */
        width: 100%;
    }
    button {
        border: none;
        display: block;
        max-width: 80px;
        font-size: 12px;
    }
    .logIn a {
        display: block;
        margin-top: 10px;
    }
    

}